.link{
    padding-left: 2vw;
    padding-bottom: 1.25vh;
    padding-top: 1.25vh;
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: none;
    transition: color 0.3s, background-color 0.3s;
}
.link:hover{
    color: #03312E;
    background-color: white;
}